.leftnav {
    color: #ffd6a5;
}


@media (min-width: 0px) {
.heureka{
    background:linear-gradient(0deg, rgba(36, 41, 67, 0.25), rgba(36, 41, 67, 0.25)), url("/static/fotky/uvodka2.jpg");
    color:white
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 200px;

}
.whaat {
    margin-top: 30px;
    font-size: 22px;
     color: white;
    text-align: center
}

}

@media (min-width: 768px) {
.heureka{
    background:linear-gradient(0deg, rgba(36, 41, 67, 0.25), rgba(36, 41, 67, 0.25)), url("/static/fotky/uvodka2.jpg");
    color:white
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 300px;

}
.whaat {
    margin-top: 50px;
    font-size: 30px;
    color: white;
    text-align: center;
}
}


@media (min-width: 992px) {
.heureka{
    background:linear-gradient(0deg, rgba(36, 41, 67, 0.25), rgba(36, 41, 67, 0.25)), url("/static/fotky/uvodka2.jpg");
    color:white
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 400px;

}
.whaat {
    margin-top: 70px;
    font-size: 30px;
    color: white;
    text-align: center;
}}

@media (min-width: 1200px) {
.heureka{


    background:linear-gradient(0deg, rgba(36, 41, 67, 0.25), rgba(36, 41, 67, 0.25)), url("/static/fotky/uvodka2.jpg");
    color:white
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 500px;





}
.whaat {
    margin-top: 110px;
    font-size: 30px;
    color: white;
    text-align: center
}
}

@media (min-width: 1400px) {
.heureka{
    background:linear-gradient(0deg, rgba(36, 41, 67, 0.25), rgba(36, 41, 67, 0.25)), url("/static/fotky/uvodka2.jpg");
    color:white
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 750px;

}}
