.leftnav {
    color: #fce694;
    font-family: 'Lora', serif;}

.rightnav {
    color: black;
    font-family: 'Lora', serif;}

.logo{
    height:80px;
    width:80px;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

.f-1 {
        background:linear-gradient(0deg, rgba(36, 41, 67, 0.85), rgba(36, 41, 67, 0.85));
        opacity:0.85;}

.f-2 {
    background-color:#dcabdf;}

.f-3 {
    background-color:#b7c6f5;}

.f-4 {
    background-color:#8f8b92;}

#firstcol {
     color: #fce694;
     font-family: 'Lora', serif;
}

#secondcol {
     color: #fce694;
     font-family: 'Lora', serif;
}

.popisek {
    color:white;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.customaref {
    text-decoration: none;
    color: #fce694;
    font-family: 'Nunito', sans-serif;

}


.heureka{
    background:linear-gradient(0deg, rgba(36, 41, 67, 0), rgba(36, 41, 67, 1)), url("/static/fotky/uvodka2.jpg");

    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 200px;
}


@media (min-width: 576px) {
.heureka{
    background:linear-gradient(0deg, rgba(36, 41, 67, 0), rgba(36, 41, 67, 1)), url("/static/fotky/uvodka2.jpg");

    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 200px;

}}

@media (min-width: 768px) {
.heureka{
    background:linear-gradient(0deg, rgba(36, 41, 67, 0), rgba(36, 41, 67, 1)), url("/static/fotky/uvodka2.jpg");

    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 300px;

}}
@media (min-width: 992px) {
.heureka{
    background:linear-gradient(0deg, rgba(36, 41, 67, 0), rgba(36, 41, 67, 1)), url("/static/fotky/uvodka2.jpg");

    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 400px;

}}

@media (min-width: 1200px) {
.heureka{
    background:linear-gradient(0deg, rgba(36, 41, 67, 0), rgba(36, 41, 67, 1)), url("/static/fotky/uvodka2.jpg");

    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 500px;

}}

@media (min-width: 1400px) {
.heureka{
    background:linear-gradient(0deg, rgba(36, 41, 67, 0), rgba(36, 41, 67, 1)), url("/static/fotky/uvodka2.jpg");

    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 750px;


}}
