{% include "header.html" %}

<div class="container-fluid ">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading  p-2 "><h4 class="cenikcss" >Zima 2021/2022 Svátky</h4></div>
  <!-- Table -->
<table class="table table-hover">
  <thead>
    <tr>

      <th></th>
      <th class="centertable">Dospělý | Kč | den</th>
      <th class="centertable">Dítě | Kč | den<th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td><p class="popisekcenik">Apartmán se soc. zař.</p> </td>
      <td><p class="popisekcenik">500</p></td>
      <td><p class="popisekcenik">470</p></td>
    </tr>
    <tr>

      <td><p class="popisekcenik">Pokoj bez soc. zař. pro 2-4 osoby</p></td>
      <td><p class="popisekcenik">470</p></td>
      <td><p class="popisekcenik">440</p></td>
    </tr>
    <tr>

      <td><p class="popisekcenik">Pokoj bez soc. zař. pro 6-8 osob</p></td>
      <td><p class="popisekcenik">440</p></td>
      <td><p class="popisekcenik">410</p></td>
    </tr>
  </tbody>
</table>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading  p-2 firstcol"><h4 class="cenikcss">Zima 2021/2022</h4></div>


  <!-- Table -->
<table class="table table-hover">
  <thead>
    <tr>

      <th></th>
      <th class="centertable">Dospělý | Kč | den</th>
      <th class="centertable">Dítě | Kč | den<th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td><p class="popisekcenik">Apartmán se soc. zař.</p> </td>
      <td><p class="popisekcenik">480</p></td>
      <td><p class="popisekcenik">450</p></td>
    </tr>
    <tr>

      <td><p class="popisekcenik">Pokoj bez soc. zař. pro 2-4 osoby</p></td>
      <td><p class="popisekcenik">450</p></td>
      <td><p class="popisekcenik">420</p></td>
    </tr>
    <tr>

      <td><p class="popisekcenik">Pokoj bez soc. zař. pro 6-8 osob</p></td>
      <td><p class="popisekcenik">420</p></td>
      <td><p class="popisekcenik">390</p></td>
    </tr>
  </tbody>
</table>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading p-2 firstcol"><h4 class="cenikcss">Léto 2022</h4></div>


  <!-- Table -->
<table class="table table-hover">
  <thead>
    <tr>

      <th></th>
      <th class="centertable">Dospělý | Kč | den</th>
      <th class="centertable">Dítě | Kč | den<th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td><p class="popisekcenik">Apartmán se soc. zař.</p> </td>
      <td><p class="popisekcenik">450</p></td>
      <td><p class="popisekcenik">420</p></td>
    </tr>
    <tr>

      <td><p class="popisekcenik">Pokoj bez soc. zař. pro 2-4 osoby</p></td>
      <td><p class="popisekcenik">420</p></td>
      <td><p class="popisekcenik">390</p></td>
    </tr>
    <tr>

      <td><p class="popisekcenik">Pokoj bez soc. zař. pro 6-8 osob</p></td>
      <td><p class="popisekcenik">390</p></td>
      <td><p class="popisekcenik">360</p></td>
    </tr>
  </tbody>
</table>
  </div>
    <div class="row borderismus4">
      <p class="ms-2 mt-3 popisekcenik ">Hostům, kteří se u nás ubytují na dobu do 3 nocí včetně účtujeme jednorázový poplatek 100,- kč za zapůjčení ložního prádla.</p>
      <h4 class="ms-2 mt-0 cenikcss">Storno Podmínky</h4>
      <p class="ms-2 popisekcenik">21 dní před nástupem (včetně): poplatek 50 % zálohy</p>
      <p class="ms-2 popisekcenik">15 dní před nástupem (včetně): poplatek 75 % zálohy</p>
      <p class="ms-2 popisekcenik">7 dní před nástupem (včetně): poplatek 100 % zálohy</p>
  </div>
</div>
{% include "footer.html" %}