<footer>




<div class="d-flex bd-highlight flex-wrap pt-3 f-1">
  <div class="me-auto p-2 bd-highlight"><h5 class="kontakt">Kontakt</h5><h6>Hořejší Vrchlabí 87, 543 02 Vrchlabí</h6>
  <h6>Telefon : +420 603 435 819</h6><h6> Telefon (2) : +420 737 919 965</h6><h6> E-mail: Konigsmarkovi@penzionvrchlabi.cz</h6>
  </div>
  <div class="p-2 bd-highlight">Flex item</div>
  <div class="p-2 bd-highlight"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2529.7037856950155!2d15.59723455150824!3d50.65119217940301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470ec01ee7147159%3A0x1a132bd40f8d7bab!2sPension+U+K%C3%B6nigsmark%C5%AF!5e0!3m2!1scs!2scz!4v1491129947657" width="300" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>
</div>

  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>


  <!-- Custom scripts for this template -->
  <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>