{% include "header.html" %}
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

 <div class="container-fluid ">
         <div class="row">
            <div class="col-4 col-sm-3 col-xxl-2 mt-2 ">

               <a href="{{ url_for('static', filename='fotky/DSC_6324.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/DSC_6324.png') }}" style="width:100%">
               </a>

			</div>

            <div class="col-4 col-sm-3 col-xxl-2 mt-2 ">

               <a href="{{ url_for('static', filename='fotky/chata.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/chata.jpg') }}" style="width:100%">
               </a>

			 </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/vchod.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/vchod.jpg') }}" style="width:100%">
               </a>
            </div>

            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/pokoj_1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/pokoj_1.jpg') }}" style="width:100%">
               </a>
            </div>

            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/pokoj_2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/pokoj_2.jpg') }}" style="width:100%">
               </a>
            </div>

            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/pokoj_3.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/pokoj_3.jpg') }}" style="width:100%">
               </a>
            </div>

            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/pokoj_4.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/pokoj_4.jpg') }}" style="width:100%">
               </a>
            </div>

            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/pokoj2_1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/pokoj2_1.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/pokoj2_3.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/pokoj2_3.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/pokoj2_4.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/pokoj2_4.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/pokoj3_1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/pokoj3_1.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/pokoj3_4.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/pokoj3_4.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/pokoj4_1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/pokoj4_1.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/mistnost_1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/mistnost_1.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/mistnost_2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/mistnost_2.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/mistnost_4.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/mistnost_4.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/mistnost_5.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/mistnost_5.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/mistnost_6.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/mistnost_6.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/obloha3.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/obloha3.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/obloha4.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/obloha4.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/obloha.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/obloha.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/obloha2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/obloha2.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/sjezdovka.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/sjezdovka.jpg') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/sv1.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/sv1.png') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/sv2.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/sv2.png') }}" style="width:100%">
               </a>
            </div>
            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/sv3.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/sv3.png') }}" style="width:100%">
               </a>
            </div>

            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/sv4.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/sv4.png') }}" style="width:100%">
               </a>
            </div>

            <div class="col-4 col-sm-3 col-xxl-2 mt-2">
               <a href="{{ url_for('static', filename='fotky/sv5.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/sv5.png') }}" style="width:100%">
               </a>
            </div>





		 </div>
      </div>

{% include "footer.html" %}