{% include "header.html" %}
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

 <div class="container-fluid">
         <div class="row">
            <div class=" col-sm-6 col-xxl-4 mt-2">

               <a href="{{ url_for('static', filename='fotky/DSC_6324.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/DSC_6324.png') }}" style="width:100%">
               </a>

			</div>

            <div class=" col-sm-6 col-xxl-4 mt-2">

               <a href="{{ url_for('static', filename='fotky/chata.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/chata.jpg') }}" style="width:100%">
               </a>

			 </div>
            <div class=" col-sm-6 col-xxl-4 mt-2">
               <a href="{{ url_for('static', filename='fotky/DSC_6365.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/DSC_6365.png') }}" style="width:100%">
               </a>
            </div>

            <div class=" col-sm-6 col-xxl-4 mt-2">
               <a href="{{ url_for('static', filename='fotky/DSC_6352.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/DSC_6352.png') }}" style="width:100%">
               </a>
            </div>

             <div class=" col-sm-6 col-xxl-4 mt-2">
                 <button class="btn rightnav f-6" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fotogalerie
                </button>
            </div>

		 </div>
      </div>

