<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Penzion Vrchlabi</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="//bootstrap-extension.com/bootstrap-extension-5.0.0/css/bootstrap-extension.min.css" type="text/css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Nunito:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>

<section>
<div class="container-fluid heureka">
  <div class="d-flex flex-row bd-highlight ">

    <div class="bd-highlight my-4 py-2   leftnav"><h5>Penzion U Königsmarků</h5></div>
  <div class="me-2 my-3 py-1 bd-highlight ms-auto">
       <button type="button " class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
   <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill=#fce694 class="bi bi-list-ul ms-auto" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg>
</button>

<!-- Modal -->
<div class="modal fade ms-auto" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Ubytovani</h6>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</section>
<!-- Button trigger modal -->
