{% include "header.html" %}

<section>
  <div class="row hmm f-1">
    <div class="py-3 col-12 leftnav">
  <h6>Hledam ubtovani pro XX osob v terminu od XX do XX HLEDAT.</h6>
    </div>
  </div>
</section>


<section>
<div class="d-lg-flex flex-nowrap hmm">
  <div class="py-3 f-1"><h5 class="nadpis" id="firstcol">Ubytování</h5>
    <p class="ms-2 popisek">
      Nabizime ubyovani v krasne a Nabizime ubyovani v krasne a
    Nabizime ubyovani v krasne a Nabizime ubyovani v krasne a </p></div>



  <div class="py-3 f-2"><h5 class="nadpis" id="secondcol">Svatby</h5>
  <p class="ms-2 popisek">
      Nabizime ubyovani v krasne a Nabizime ubyovani v krasne a
    Nabizime ubyovani v krasne a Nabizime ubyovani v krasne a </p></div>

</div>

  <div class="d-lg-flex flex-nowrap hmm">
  <div class="py-3 f-1"><h5 class="nadpis" id="firstcol">Fotogalerie</h5>
    <p class="ms-2 popisek">
      Nabizime ubyovani v krasne a Nabizime ubyovani v krasne a
    Nabizime ubyovani v krasne a Nabizime ubyovani v krasne a </p></div>



  <div class="py-3 f-2"><h5 class="nadpis" id="secondcol">Cenik</h5>
  <p class="ms-2 popisek">
      Nabizime ubyovani v krasne a Nabizime ubyovani v krasne a
    Nabizime ubyovani v krasne a Nabizime ubyovani v krasne a </p></div>

</div>

    <div class="d-lg-flex flex-nowrap hmm">
  <div class="py-3 f-1"><h5 class="nadpis" id="firstcol">Rezervace</h5>
    <p class="ms-2 popisek">
      Nabizime ubyovani v krasne a Nabizime ubyovani v krasne a
    Nabizime ubyovani v krasne a Nabizime ubyovani v krasne a </p></div>
    </div>
</section>


{% include "footer.html" %}
