{% include "header.html" %}


<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-2">
    <div class="col-sm-7 f-1 "><h5 class="nadpis m-2" id="firstcol"><a class="customaref" href="{{url_for('schedule')}}">Ubytování</a></h5>
    <p class="ms-2 popisek">
      Náš rodinný penzion se nachází v Krkonoších nedaleko města Vrchlabí. V těsné blízkosti se rozkládá lyžařský areál Herlíkovice-Bubákov a začínají rozsáhlé turistické trasy Krkonoš. </p>

    <h6 class="ms-2 d-flex justify-content-end "><a class="customaref"  href="{{url_for('schedule')}}">Více zde</a></h6>
    </div>
    <div class="col-sm-5 f-2 "><h5 class="nadpis m-2" id="secondcol">Svatby</h5>
  <p class="ms-2 popisek">
      Milí snoubenci, hledáte prostor pro uspořádání svatebního obřadu a hostiny v přírodě? </p>
    <h6 class="ms-2 d-flex justify-content-end"><a class="customaref"  href="{{url_for('index')}}">Více zde</a></h6>
    </div>
    <div class="col-sm-5  f-3 "><h5 class="nadpis m-2" id="secondcol">Fotogalerie</h5>
  <p class="ms-2 popisek">
      Prohlédněte si naši fotogalerii </p>
    <h6 class="ms-2 d-flex justify-content-end "><a class="customaref"   href="{{url_for('index')}}">Více zde</a></h6>
    </div>
    <div class="col-sm-7 f-4 "><h5 class="nadpis m-2" id="secondcol">Ceník</h5>
  <p class="ms-2 popisek ">
      Ceny ubytování pro aktuální sezónu </p>
    <h6 class="ms-2 d-flex justify-content-end "><a class="customaref"  href="{{url_for('index')}}">Více zde</a></h6>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-sm-2">
    <div class="col-sm-7 f-1 "><h5 class="nadpis m-2" id="firstcol">Vyhledat volný termín </h5>
    <p class="ms-2 popisek">
      Vyhledat volný termín </p>

    <h6 class="ms-2 d-flex justify-content-end "><a class="customaref"  href="{{url_for('index')}}">Více zde</a></h6>
    </div>
    <div class="col-sm-5 f-2 "><h5 class="nadpis m-2" id="secondcol">Svatby</h5>
  <p class="ms-2 popisek">
      Milí snoubenci, hledáte prostor pro uspořádání svatebního obřadu a hostiny v přírodě? </p>
    <h6 class="ms-2 d-flex justify-content-end"><a class="customaref"  href="{{url_for('index')}}">Více zde</a></h6>
    </div>


</div>

{% include "footer.html" %}
