{% include "header.html" %}

  <!-- Page Header -->


 <form  class="row row-cols-1 row-cols-sm-3 " method="POST" action="{{ url_for('login_spravce')}}" >
          {{ form.csrf_token }}

          <div class="col-sm-4  ">
           <label for="name" class="form-label "></label>
            <input type="text" name='name' placeholder="Jméno" class="form-control" >
            </div>
            <div class="col-sm-4  ">
           <label for="email" class="form-label"></label>
            <input type="email" name='email' placeholder="Email" class="form-control" >
            </div>
           <div class="col-sm-4 ">
           <label for="telefon" class="form-label"></label>
            <input type="password]" name='password' placeholder="Heslo" class="form-control">
            </div>
          <div class="col-sm-12 my-2 d-flex justify-content-end">
          <button type="submit" class="btn btn-success col-md-2 ms-auto">Prihlasit</button>
          </div>

    </form>


  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

         <a class="btn btn-dark" href="{{url_for('login_spravce', template_update_db=1)}}">Update Database</a>
          {% if db_updated == True %}
          <h4>DB UPDATED</h4>
          {% endif %}
        </div>
      </div>
    </div>


{% include "footer.html" %}
