{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1531592937781-344ad608fabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Start Contributing to the Blog!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
        <form method="POST" action="{{ url_for('login_spravce') }}">
          {{ form.csrf_token }}
          {{ form.name.label }} {{ form.name(size=20) }}
          {{ form.email.label }} {{ form.email(size=20) }}
          {{ form.password.label }} {{ form.password(size=20) }}
          <input type="submit" value="Prihlasit se">
        </form>
    </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

         <a class="btn btn-dark" href="{{url_for('login_spravce', template_update_db=1)}}">Update Database</a>
          {% if db_updated == True %}
          <h4>DB UPDATED</h4>
          {% endif %}
        </div>
      </div>
    </div>


{% include "footer.html" %}
