{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}
<ul class="nav justify-content-center">
<div class="btn-group w-25 h-50">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{this_year}}
  </button>
  <div class="dropdown-menu w-100">
    {% for x in list_roku %}
      <a class="dropdown-item" href="{{url_for('schedule', rk=x)}}">{{x}}</a>
    {% endfor %}
  </div>
</div>

<div class="btn-group w-25 h-50">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{this_month}}
  </button>
  <div class="dropdown-menu w-100">
    {% for y in list_mesicu %}
      <a class="dropdown-item" href="{{url_for('schedule', msc=y)}}">{{y}}</a>
    {% endfor %}
  </div>
</div>

<div class="btn-group w-25 h-50">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{apartments_query.name}}
  </button>
  <div class="dropdown-menu w-100">
    {% for zz in all_apartmens %}
      <a class="dropdown-item" href="{{url_for('schedule', appart=zz.id)}}">{{zz.name}}</a>
    {% endfor %}
  </div>
</div>

</ul>


<div class="row">
  {% for z in actual_days %}


  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{z.day}}</h5>
        {% if current_user.is_authenticated: %}
        <a class="btn btn-dark" href="{{url_for('schedule', daynum=z.day)}}">Reserve</a>
        {% endif %}
      </div>
      {% for promenna in z.children: %}
      {% if promenna.apartmans_id == keep_pokoj %}
      {% if promenna.is_reserved %}
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      {% else %}
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      {% endif %}
      {% endif %}
      {% endfor %}

    </div>
  </div>

  {% endfor %}

</div>

{% include "footer.html" %}
{% endblock %}