{% include "header.html" %}
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

 <div class="container-fluid ">
	<div class="row">
        <div class="col-12 ">
             <p class="ms-2 popisek ">

Svatební obřad u sjezdovky s výhledem na Strážné, pár metrů od našeho penzionu. Hostina
v party stanu, večerní zábava dle počasí buď pod širým nebem nebo ve společenské místnosti uvnitř
penzionu.
Nabízíme: <br>
Prostory penzionu pro svatební obřad i hostinu
                 <br>
Ubytování v pokojích pro cca 40 hostů
                 <br>
Zapůjčení party stanu a pivních setů pro svatební hostinu
                 <br>
Pípa na točené pivo a limonádu, lednice, zapůjčení nádobí pro hostinu, gril, rožeň na grilování
kýty
                 <br>
V případě zájmu možnost zapůjčení některých dekorací: světýlka, vázičky, slavobrána
                 <br>
Doporučení osvědčených dodavatelů z okolí (dort, vizážistka, catering, obsluha)



</div>
</div>
         <div class="row">

            <div class=" col-sm-6 col-xxl-4 my-2">

               <a href="{{ url_for('static', filename='fotky/DSC_6323.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/DSC_6323.png') }}" style="width:100%">
               </a>

			</div>

            <div class=" col-sm-6 col-xxl-4 my-2">

               <a href="{{ url_for('static', filename='fotky/DSC_6335.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/DSC_6335.png') }}" style="width:100%">
               </a>

			 </div>
            <div class=" col-sm-6 col-xxl-4 my-2">
               <a href="{{ url_for('static', filename='fotky/DSC_6365.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/DSC_6365.png') }}" style="width:100%">
               </a>
            </div>

            <div class=" col-sm-6 col-xxl-4 my-2">
               <a href="{{ url_for('static', filename='fotky/DSC_6352.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
               <img src="{{ url_for('static', filename='fotky/DSC_6352.png') }}" style="width:100%">
               </a>
            </div>

             <div class=" col-sm-6 col-xxl-4 my-2">
                 <a class="btn rightnav f-6" href="{{ url_for('fotogalerie')}}" role="button">Fotogalerie</a>
            </div>

		 </div>
      </div>

{% include "footer.html" %}